<h3>Details Doctor</h3>

<hr/>
<div *ngIf="patient">
  <div>
    <label><b>Last Name: </b></label> {{patient.secondName}}
  </div>
  <div>
    <label><b>First Name: </b></label> {{patient.firstName}}
  </div>
  <div>
    <label><b>Patronymic: </b></label> {{patient.patronymic}}
  </div>
  <div>
    <label><b>Phone: </b></label> {{patient.phone}}
  </div>
</div>

<br>
<br>
<button (click)="update()" class="btn btn-primary">Edit</button><br>
<button (click)="list()" class="btn btn-primary">Back to patient list</button><br>
