<h3>Details Prescription</h3>

<hr/>
<div *ngIf="prescription">
  <div>
    <label><b>Patient: </b></label> {{ patient.secondName + " " + patient.firstName  + " " +  patient.patronymic }}
  </div>
  <div>
    <label><b>Doctor: </b></label> {{ doctor.secondName + " " + doctor.firstName  + " " +  doctor.patronymic }}
  </div>
  <div>
    <label><b>Description: </b></label> {{prescription.description}}
  </div>
  <div>
    <label><b>Create date: </b></label> {{prescription.createDate}}
  </div>
  <div>
    <label><b>Expiration date: </b></label> {{prescription.expirationDate}}
  </div>
  <div>
    <label><b>Priority: </b></label> {{prescription.priority}}
  </div>
</div>

<button (click)="list()" class="btn btn-primary">Back to prescription list</button>
