<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Prescription list</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Description</th>
        <th>Create date</th>
        <th>Expiration date</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let uiPrescription of uiPrescriptions" >
        <td>{{ uiPrescription.patient.secondName+ "\n" + uiPrescription.patient.firstName + "\n" + uiPrescription.patient.patronymic }}</td>
        <td>{{ uiPrescription.doctor.secondName + "\n" + uiPrescription.doctor.firstName + "\n" + uiPrescription.doctor.patronymic }}</td>
        <td>{{ uiPrescription.description }}</td>
        <td>{{ uiPrescription.createDate }}</td>
        <td>{{ uiPrescription.expirationDate }}</td>
        <td>{{ uiPrescription.priority }}</td>
        <td>
          <button (click)="deletePrescription(uiPrescription.id)" class="btn btn-danger">Delete</button>
          <button (click)="prescriptionDetails(uiPrescription.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="updatePrescription(uiPrescription.id)" class="btn btn-primary" style="margin-left: 10px">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <button (click)="createPrescription()" class="btn-info" style="float: right">Add</button>
    </div>
  </div>
</div>

